@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #191060;
}

.Boxdeimagenes{
    justify-content: space-between;
    display: flex;
}

.axolotee{
   width: 500px;
   height: 500px;
   margin-left: -100px;
}

nav ul li{
    display: inline-block;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    margin: 10px;
}

h1{
   justify-content: center;
    display: flex;
    margin-top: -35px;
    color: aliceblue;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}
 header{
    background-color: 191060; 
 }

 a{
    text-decoration: none;
    color: aliceblue;
 }

 .bienvenida{
    text-align: left;
    margin: 150px;
    font-family: 'Comfortaa', cursive;
    font-size: 75px;
    color: aliceblue;
    text-shadow:3px 2px 4px black ;
 }
 .estrellas{
   
   justify-content: space-around;
   background:url(cielo.png);
   background-repeat: no-repeat;
   width: 100%;
   display: flex;
}
 .galaxia{
   background: url(gaqlaxia.png);
   background-repeat: no-repeat;
   width: 100%;
   
}
 .videos{
    justify-content: center;
    display: flex; 
 }

 h2{
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    color: aliceblue;
    position: absolute;
    margin-top: 50px;
    margin-left: 450px;
 }
 .video1{
    border-radius:  40px 40px 40px 40px;
 }
 .video2{
    border-radius:  40px 40px 40px 40px;
    margin-left: 10px;
 }
 .video3{
    border-radius:  40px 40px 40px 40px;
    margin-left: 10px;
 }
 .axol2{
    display: flex;
    width: 140px;
    height: 140px;
    margin-left: 300px;

 }

 .galaxy{
    position: static;
   
 }
 .piedepagina{
  display: flex;
   
 }
 .Box2{
   display: flex;
   justify-content: center;
 }
 .box{
    color: aliceblue;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
 }
 .linkyou{
    margin-top: 40px;
    margin-left: -100px;
    position: absolute;
 }
 .titulopie{
   margin-top: 100px;

 }
 .youtube{
    position: absolute;
    margin-top: 30px;
    margin-left: -170px;
    width: 60px;
    height: 40px;
 }

 .axo3{
    width: 250px;
    height: 250px;
}

.mapa{
   margin-top: 100px;
   margin-left: 10px;
}
.footer{
   display: flex;
   justify-content: center;
}
@media only screen and (max-width: 768px) {
   /* For mobile phones: */
   [class*="col-"] {
     width: 100%;
   }
 }